@charset "UTF-8";
/**
PluginCore by InvisibleDragon

These styles are designed to produce generic WordPress-looking components which are used and understood
by WP users
 */
.attachment-preview.type-private:after {
  content: "";
  font-family: dashicons;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background: #FFF;
  border: 1px solid #e14d43;
}

.plugincore-select-multiple ul, .plugincore-select-multiple input {
  max-width: 600px;
}
.plugincore-select-multiple ul {
  margin-top: 0;
}

.plugincore-item-list {
  width: 95%;
}
.plugincore-item-list li {
  border: 1px solid #7e8993;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
  display: flex;
  align-items: center;
  cursor: move;
}
.plugincore-item-list li span {
  vertical-align: middle;
}

.postbox.plugincore-metabox .inside {
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}
.postbox.plugincore-metabox .plugincore-panel {
  float: left;
  width: 80%;
}

.plugincore-form-field {
  padding: 5px 20px 5px 162px !important;
  margin: 6px 0;
}
.plugincore-form-field label {
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 0 -150px;
}
.plugincore-form-field fieldset {
  padding: 0;
}
.plugincore-form-field input, .plugincore-form-field input[type=text], .plugincore-form-field ul, .plugincore-form-field li {
  float: none;
}

ul.plugincore-tabs {
  margin: 0;
  width: 20%;
  float: left;
  line-height: 1em;
  padding: 0 0 10px;
  position: relative;
  background-color: #fafafa;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
ul.plugincore-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 9999em;
  position: absolute;
  bottom: -9999em;
  left: 0;
  background-color: #fafafa;
  border-right: 1px solid #eee;
}
ul.plugincore-tabs li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
ul.plugincore-tabs li a {
  margin: 0;
  padding: 10px;
  display: block;
  box-shadow: none;
  text-decoration: none;
  line-height: 20px !important;
  border-bottom: 1px solid #eee;
}
ul.plugincore-tabs li a span {
  margin-left: 0.618em;
  margin-right: 0.618em;
}
ul.plugincore-tabs li.active a {
  color: #555;
  position: relative;
  background-color: #eee;
}

/*# sourceMappingURL=admin.css.map */
